### **R.Madhu Kiran**

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
#loading dataset

In [ ]:
import pandas as pd

In [ ]:
dt = pd.read_csv("spam.csv",encoding='Windows-1252')

In [ ]:
import chardet
with open("spam.csv",'rb') as rawdata:
  result=chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'Windows-1252', 'language': ''}

In [ ]:
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [ ]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)

In [ ]:
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
print("columns in the given data: ")
for col in dt.columns:
  print(col)

columns in the given data:
type
text
spam

In [ ]:
t=len(dt['type'])
print("No of Rows in review column",t)

No of Rows in review column 116

In [ ]:
 #tokenization                                                    #tolen

In [ ]:
dt['text'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [ ]:
def tokenizer(text):
  return text.split()

In [ ]:
dt['text']=dt['text'].apply(tokenizer)

In [ ]:
dt['text'][4]

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [ ]:
#stemming

In [ ]:
dt['text'][4]#before

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english",ignore_stopwords = False)

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
dt['text']=dt['text'].apply(stem_it)

In [ ]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [ ]:
#lemitization

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [ ]:
def lemit_it(text):
  return [lemmatizer.lemmatize(word,pos='a') for word in text]

In [ ]:
dt['text']=dt['text'].apply(lemit_it)

In [ ]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [ ]:
import nltk

from nltk.corpus import stopwords
stop_words=stopwords.words("english")

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
def stop_it(text):
  review = [word for word in text if not word in stop_words]
  return review

In [ ]:
dt['text']=dt['text'].apply(stop_it)

In [ ]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [ ]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [ ]:
dt['text'] = dt['text'].apply(''.join)

In [ ]:
dt.head()

   type                                               text  spam
0   ham  gojurongpoint,crazy..availonlibugingreatworldl...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentri2wklicompwinfacupfinaltkts21stmay2005...     1
3   ham                  udunsayearlihor...ucalreadisay...     0
4   ham                    nahthinkgoeusf,livearoundthough     0

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid=TfidfVectorizer()
y=dt.spam.values
x=tfid.fit_transform(dt['text'])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [ ]:
#7classification using logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred,y_test)*100
print("accuracy",acc_log)

accuracy 87.5